<div class="detail-page">
  <div class="details-container" *ngIf="sportSpace">
    <div class="details">
      <h1>{{ sportSpace.name }}</h1>
      <img [src]="sportSpace.imageUrl" alt="Space photo" class="space-image">
      <p class="description"><strong>Description:</strong> {{ sportSpace.description }}</p>
      <p><strong>Sport:</strong> {{ sportSpace.sportType | titlecase }}</p>
      <p><strong>District:</strong> {{ sportSpace.district }}</p>
      <p><strong>Price:</strong> S/{{ sportSpace.price }}</p>
      <p><strong>Schedule:</strong> {{ sportSpace.StartTime }} - {{ sportSpace.endTime }}</p>
    </div>
  </div>
  <div class="reservation-container">
    <form *ngIf="loggedUser.id && dataOwner && sportSpace && sportSpace.id" (ngSubmit)="confirmAndSubmitReservation(sportSpace.id, sportSpace.price)" class="needs-validation" novalidate>
      <div class="reservation-section">
        <h2>Reservation</h2>
        <div class="mb-3">
          <label for="date" class="form-label">Date:</label>
          <input id="date" type="datetime-local" [(ngModel)]="date" name="date" class="form-control" required>
          <div class="invalid-feedback">Please select a date.</div>
        </div>
        <div class="mb-3">
          <label for="hours" class="form-label">Hours:</label>
          <input id="hours" type="number" [(ngModel)]="hours" name="hours" class="form-control" min="1" max="2" required>
          <div class="invalid-feedback">Please enter a valid number of hours (1-2).</div>
        </div>
        <div class="mb-3">
          <label for="payment" class="form-label">Payment Method:</label>
          <select id="payment" (change)="onPaymentMethodChange($event)" class="form-select" required>
            <option disabled selected>Select a payment method </option>
            <option *ngFor="let payment of payments" [value]="payment.id">{{ payment.cardHolder + " - " + payment.cardIssuer}}</option>
          </select>
          <div class="invalid-feedback">Please select a payment method.</div>
        </div>
        <button type="submit" [disabled]="!date || !hours || hours < 1 || hours > 2" class="btn btn-primary w-100">Reserve</button>
      </div>
    </form>
  </div>

  <!-- Popup -->
  <div class="popup" *ngIf="showPopup">
    <p>{{ message }}</p>
  </div>
</div>
