<body>
<section id="about">
  <div class="container">
    <div class="text">
      <h1>About Us</h1>
      <p>Welcome to <strong>D'Taquito</strong>, your ideal solution for booking soccer fields and billiard tables. Our goal is to facilitate access to the best sports spaces, allowing you to enjoy your favorite sports without complications.</p>
      <p>We are dedicated to connecting sports enthusiasts with the best available facilities. Through our platform, you can find and book the perfect space for your soccer match or billiards game, ensuring an optimal and stress-free experience.</p>
      <p>We believe in the importance of the sports community. That's why we organize special events and tournaments, fostering the spirit of competition and camaraderie among our users.</p>
      <p>Thank you for choosing us. We look forward to helping you find the perfect place for your next game and sharing the excitement of sports with you!</p>
    </div>
  </div>
</section>
</body>
